* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1118px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo img {
  height: 33px;
}

.nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 40%;
  width: 100%;
}

.language {
  max-width: 40px;
  position: relative;
  margin-bottom: 20px;
  color: #ffffff;
}

.language__now {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language__now i {
  font-size: 12px;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.language__now i.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.language__now::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  height: 1px;
  background: #ffffff;
}

.language__now:hover::after {
  width: 100%;
}

.language__now-text {
  padding-right: 5px;
  font-size: 13px;
}

.language__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 5px;
  position: absolute;
  left: 50%;
  top: 5px;
  height: 70px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: sans-serif;
  background-color: #34495e;
  -webkit-transition: height .2s linear, top .2s linear, opacity .2s linear;
  transition: height .2s linear, top .2s linear, opacity .2s linear;
  z-index: 2;
  overflow: hidden;
}

.language__other.active {
  top: 20px;
  height: auto;
  opacity: 1;
  pointer-events: all;
}

.language__other-text {
  font-size: 12px;
  position: relative;
  cursor: pointer;
  display: block;
}

.language__other-text:not(:last-child) {
  margin-bottom: 8px;
}

.language__other-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  height: 1px;
  background: #ffffff;
}

.language__other-text:hover::after {
  width: 100%;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav__ul-link {
  text-decoration: none;
  font-size: 15px;
  position: relative;
  display: block;
  font-weight: 500;
  color: #ffffff;
}

.nav__ul-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  height: .8px;
  background: #ffffff;
}

.nav__ul-link:hover::after {
  width: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #2D343C;
  width: 100%;
  height: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo img {
  height: 33px;
}

.footer__ul-item {
  margin-bottom: 15px;
}

.footer__ul-link {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.footer__ul-link:hover {
  color: #D4C17F;
}

.footer__ul-li {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
  margin-bottom: 18px;
  cursor: default;
}

.footer__ul-link-email {
  color: #D4C17F;
  font-weight: 700;
}

.footer__ul-icons {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__ul-icon a i {
  font-size: 25px;
}

.slider {
  height: 100vh;
  width: 100%;
  position: relative;
}

.slider::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33));
  background: linear-gradient(180deg, #242B33 5.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);
  z-index: 2;
}

.slider__imgs {
  position: relative;
  z-index: 1;
}

.slider__imgs img {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.slider__imgs img.active {
  opacity: 1;
}

.position {
  position: relative;
}
/*# sourceMappingURL=main.css.map */